Flask==2.0.1
Werkzeug==2.0.1
flask-socketio==5.3.2
eventlet==0.33.3
requests==2.31.0
twitchio==2.3.0
python-dotenv==1.0.1
bleach==6.0.0
ollama==0.1.0
python-socketio==5.12.1
langdetect==1.0.9
humanize==4.11.0
numpy==2.2.2
PyMuPDF==1.25.3
rank-bm25==0.2.2
